@model SportsStore.Domain.Entities.Product


<div class="card bg-light my-1">
    <h3>
        <strong>@Model.Name</strong>
        <span class="badge badge-pill badge-primary float-right">@Model.Price.ToString("c")</span>
    </h3>
    <span class="lead">@Model.Description</span>
</div>
